@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  background: #4e4e5a;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: 25% 10% 30% 5% 30%;
  grid-column-gap: 1em;
  grid-row-gap: 15px;
}

.button {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  align-items: center;
}

.button__load {
  background: #121232;
  border-radius: 4px;
  grid-column: 8;
  grid-row: 4;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.button__save {
  background: #fafafc;
  border: 1px solid #121232;
  box-sizing: border-box;
  border-radius: 4px;
  grid-column: 9;
  grid-row: 4;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #121232;
}

.header {
  grid-column: 4 / span 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  margin: 0;
}

.header__h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 64px;
  color: #ffffff;
  margin: 0;
}

.form {
  grid-column: 4 / span 6;
  grid-row: 3;
}

.textarea {
  width: 100%;
  border-radius: 10px;
  resize: none;
  padding-left: 16px;
  padding-top: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #232735;
}

p {
  margin: 0;
  height: 100%;
  display: flex;
}
